/*** BASE STYLES ***/

body {
    background: #1f202b;
    font-size: 24px;
    font-family: 'Open Sans Pro', sans-serif;
    color: #fff;
}

main {
    margin: 0 auto;
}

h1, h2 {
    font-family: 'Source Code Pro', monospace;
    text-transform: lowercase;
}

h3 {
    font-family: 'Open Sans Pro', sans-serif;
    font-weight: 700;
}

#portfolio .full-width, #about .full-width, #contact .full-width {
    margin-top: 45px;
}

/*** GRID ***/
.full-width {
    width: 1200px;
    margin: 0 auto;
    overflow: auto;
}

.half-width {
    width: 600px;
    float: left;
    box-sizing: border-box;
}

.third-width {
    width: 400px;
    float: left;
    box-sizing: border-box;
}

/*** HEADER ***/

header {
    margin: 20px 0 0 0;
}

header h1 {
    font-family: 'Open Sans Pro', sans-serif;
    font-size: 30px;
}

nav {
    float: right;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    padding-right: 45px;
    font-size: 18px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #fa0075;
}

/*** TEXT ***/

.headers {
    color: #fa0075;
    text-align: center;
    padding-bottom: 50px;
    margin: 0px;
}

#contact p, #about p, #portfolio p, footer p {
    font-weight: 400;
}

.text-left {
    padding-left: 50px;
}

.text-right {
    padding-right: 50px;
    text-align: right;
}

.text-center {
    text-align: center;
}


/*** HERO ***/

#hero .full-width {
    background-image: url("../img/hero-background.png");
    height: 725px;
    background-size: cover;
    background-position: center;
}

#hero h2 {
    padding: 250px 0 0;
    font-size: 72px;
}

#hero h2 span {
    color: #fa0075;
}

/*** PORTFOLIO ***/

#portfolio .full-width, #about .full-width, #contact .full-width {
    padding: 25px 0 25px 0;
}

#portfolio .half-width {
    height: 400px;
    margin: 45px 0;
}

#portfolio h2 {
    margin: 0px 0px;
    line-height: 28px;
}

#portfolio h2.headers {
    margin-bottom: 30px;
}

#portfolio .half-width p {
    font-weight: 400;
}

#portfolio .half-width a {
    margin-right: 10px;
}

#portfolio .half-width h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    text-transform: capitalize;
}


#portfolio .half-width h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 10px;
}

#portfolio a, a.second-button {
    text-decoration: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 18px;
    text-transform: uppercase;
}

#portfolio a {
    color: #fa0075;
    border: 1px solid #fa0075;
}

#portfolio a:hover {
    background: #fa0075;
    color: #fff;
}

#portfolio a.second-button {
    color: #fff;
    background: #fa0075;
}

#portfolio a.second-button:hover {
    color: #fa0075;
    border: 1px solid #fa0075;
    background: none;
}


img.img-right {
    float: right;
}


/*** ABOUT ***/

#about .full-width{
    background-image: url("../img/about-me.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




#about h3, #about p {
    color: #000;
    
}

#about h3 {
    margin-top: 0px;
    line-height: 25px;
    margin-bottom: 0px;
}

/*** CONTACT ***/

#contact {
    margin-bottom:100px;
}

#contact h2.headers {
    margin-bottom: 30px;
}

#contact ul {
    list-style: none;
    padding-left: 0;
}

#contact ul li {
    display: inline-block;
    padding: 0px 15px;
}

#contact ul li a {
    text-decoration: none;
}

i.fab.fa-github-square.fa-2x, i.fab.fa-twitter-square.fa-2x, i.fab.fa-linkedin.fa-2x {
    color: #fa0075;
}

a i.fab.fa-github-square.fa-2x:hover, a i.fab.fa-twitter-square.fa-2x:hover, a i.fab.fa-linkedin.fa-2x:hover {
    color: #fff;
}

/*** FOOTER ***/

footer p {
    font-size: 18px;
}

footer a {
    color: #fa0075;
}

footer a:hover {
    color: #fff;
}